<!-- <center>
    <p>500 ERROR </p>
    <p>Internal server ERROR </p>
    <p>path modified </p>
</center> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal error</title>
    <img src="/static/500-internal-server-error-concept-illustration_114360-1885.webp" width="1100" height="400" >
    <center>
        <p><H1>Internal server ERROR.</H1></p>
        <P>Path Modified .</P>
        <form action="/back1" method=post>
            <button>Go to home page</button>
            </form>
    </center>
</head>
<body>
    
</body>
</html>